GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
MICROSOFT_TODO_CLIENT_ID=
MICROSOFT_TODO_CLIENT_SECRET=
MICROSOFT_TODO_REFRESH_TOKEN=
MICROSOFT_TODO_TENANT_ID=common
MICROSOFT_TODO_USER=
MICROSOFT_TODO_PASSWORD=
MICROSOFT_TODO_WEB_HEADLESS=1
PORTO_PORTAL_USER=
PORTO_PORTAL_PASSWORD=
PORTO_PORTAL_WEB_HEADLESS=1
YELUM_PORTAL_USER=
YELUM_PORTAL_PASSWORD=
YELUM_PORTAL_WEB_HEADLESS=1
MAPFRE_PORTAL_USER=
MAPFRE_PORTAL_PASSWORD=
MAPFRE_PORTAL_WEB_HEADLESS=1
PORTAL_USE_PDF_CREDENTIALS=0
GMAIL_IMAP_USER=
GMAIL_IMAP_PASSWORD=
SEGFY_USER=
SEGFY_PASSWORD=
WHATSAPP_PROVIDER_TOKEN=
SEGUROS_PBSEG_XLSX=
ACOMPANHAMENTO_2026_XLSX=
FLUXO_CAIXA_XLSX=
SENHAS_PDF=
